.wrapper{
    display: grid;
    place-content: center;
    height: 100vh;
}

.wrapper-content{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: .5rem;
    width: 80rem;
    height: 60rem;
}

.img{
    width: 50%;
    height: 100%;
    background: red;
}

.box-login{
    display: flex;
    gap: 3rem;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.iniciar-sesion{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input{
    width: 28rem;
    height: 4rem;
    padding: 0 1.5rem;
}

input:focus{
    border: 1px solid #02991e;
    outline: none;
}

.under{
    display: flex;
    gap: 2.2rem;
}

.checkbox{
    display: flex;
    gap: .5rem;
}

.recordarme{
    accent-color: #00ff2f;
}

.btn {
    width: 22rem;
    align-self: center;
    height: 4rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #00ff2f, #00cf26, #00ad20, #01bd24, #02d92a,  #00ff2f);
    background-size: 300% 100%;
    animation: colorLinear 5s linear infinite;
}
@keyframes colorLinear {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

.line{
    width: 70%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
}