<div class="wrapper">
  <div class="wrapper-content">
    <div class="img">
      <img src="" alt="" />
    </div>

    <div class="box-login">
      <h2 class="iniciar-sesion">Iniciar sesión</h2>

      <form class="form">
        <input type="email" placeholder="Correo electrónico" class="input"/>
        <input type="password" placeholder="Contraseña" class="input"/>
      </form>

      <div class="under">

        <div class="checkbox">
          <input type="checkbox" class="recordarme"/>
          <p>Recordarme</p>
        </div>

        <a href="">¿Olvidaste tu contraseña?</a>
        
      </div>
      <button type="submit" class="btn">Iniciar sesión</button>

      <div class="line"></div>
      <p class="register">¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
    </div>
  </div>
</div>
