<div class="wrapper">
    <div class="wrapper-content">
      <div class="img">
        <img src="src/app/assets/cultivo.png" alt="cultivo" />
      </div>
  
      <div class="box-login">
        <h2 class="iniciar-sesion">Registrate</h2>
  
        <form class="form">
          <input type="text" placeholder="usuario" class="input"/>
          <input type="email" placeholder="Correo electrónico" class="input"/>
          <input type="password" placeholder="Contraseña" class="input"/>
        </form>
  
        <a type="submit" class="btn" href="">Siguiente</a>
  
        <div class="line"></div>
        <p class="register">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
      </div>
    </div>
  </div>
  