<section class="wrapper">
    <img src="assets/img/trigo.jpg" alt="logo" class="login-image" />
  
    <main class="login-container">
      <article class="form-box">
        <h2>Actualiza tu contraseña</h2>
        <form
          class="login-container-form"
        >
          <div class="input-group">
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Contraseña actual"
            />
          </div>
  
          <div class="input-group">
            <input
              type="password"
              id="password"
              formControlName="password"
              placeholder="Nueva contraseña"
            />
          </div>

          <nav class="nav-section">
            <a routerLink="/fgtcode">Atrás</a>
            <a class="login-btn">Aceptar</a>
          </nav>

        </form>
      </article>
    </main>
  </section>
  