<section class="wrapper">
  <img src="assets/img/trigo.jpg" alt="logo" class="login-image" />

  <main class="login-container">
    <form class="form-box" [formGroup]="actualizar">
      <h2>Actualiza tu contraseña</h2>

      <div class="input-group">
        <input
          type="password"
          id="email"
          placeholder="Contraseña actual"
          formControlName="contraseña"
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          id="password"
          placeholder="Nueva contraseña"
          formControlName="confirmar"
        />
      </div>

      <nav class="nav-section">
        <a routerLink="/fgtcode">Atrás</a>
        <button class="login-btn" [disabled]="!actualizar.valid || confirmar()">
          Aceptar
        </button>
      </nav>
    </form>
  </main>
</section>
