<section class="wrapper">
    <img src="assets/img/trigo.jpg" alt="logo" class="login-image" />
  
    <main class="login-container">
      <article class="form-box">
            <h2>Introduce el código</h2>
            <p>introduce el código enviado a tu email. si no has recibido ningún código intentalo de nuevo</p>
            <input
              type="number"
              placeholder="introduce tu código"
              maxlength="6"
              oninput="this.value=this.value.slice(0,6)"
            />
            <nav class="nav-section">
              <a routerLink="/fgtpass">Atrás</a>
              <a routerLink="/newpass" class="login-btn">Siguiente</a>
            </nav>
      </article>
    </main>
  </section>
  