.logoculti{
<<<<<<< HEAD
    width: 7rem;
    height: auto;
    object-fit: cover;
    display: block;
}

.navbar {
    height: 10vh;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1rem;
    color: #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
=======
    width: 7vh;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: 6rem;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    color: #000;
    padding: 1vh 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.nav-container{
    display: flex    ;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 6rem;
>>>>>>> feature/email
}

.nav-container-ul {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    gap: 2rem;
}

.login-btn {
    color: #000;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: #8DFFB3;
    transition: background-color .1s ease-in-out;

    &:hover{
        background-color: #6bcc8b;
    }
}

.active{
    color: red;
=======
    gap: 2rem;
}

.nav-container-li a{
    color: #666666;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#16FB63, #7BFFFD);
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.user>* {
    height: 25px;
>>>>>>> feature/email
}