header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoculti{
    width: 7vh;
    height: auto;
    object-fit: cover;
    display: block;

}

.navbar {
    background-color: #ffffff;
  padding: 15px 20px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
  background-color: #ffffff;
  color: #07d44b;
}

.menu-checkbox {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: #299e50;
  cursor: pointer;
}

.active{
    color: red;
}


@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow:0 5px 20px  rgba(0,0,0,0.2);
    display: none;
    padding: 20px 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .menu li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  .menu-checkbox:checked ~ .menu-icon + .menu {
    display: flex;
  }
}
