<header>
    <nav class="navbar">
        <img src="assets/img/logo.png" alt="logo culti" class="logoculti">
        <div class="nav-container">
            <nav class="nav-container-ul">
                <a routerLink="/home" routerLinkActive="active">Inicio</a>
                <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
                <a routerLink="/products" routerLink="active">Productos</a>
                <a routerLink="/login" routerLinkActive="active" class="login-btn">Iniciar sesión</a>
                <a routerLink="register" routerLinkActive="active" class="login-btn">Registrate</a>
            </nav>
        </div>
    </nav>
</header>