<header>
    <nav class="navbar">
        <p class="title">Culti 🌱</p>
        <div class="nav-container">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#about">Sobre nosotros</a></li>
                <li><a href="#products">Productos</a></li>
            </ul>
            <a href="/login" class="login-btn">Iniciar sesión</a>
        </div>
    </nav>
</header>

<main>
    <section class="hero">
        <h1>Compra fácil, reserva sin complicaciones</h1>
        <p>Encuentra y adquiere productos agropecuarios de forma rápida y segura, <br>conectando directamente con productores. Reserva o compra al instante sin <br>intermediarios ni complicaciones.</p>
    </section>

    <section id="products" class="about-us">
        <!-- The cards could be components -->
        <article class="card">
            <h1>🪴</h1>
            <div class="card-content">
                <h2>Plantas y semillas</h2>
                <p>Árboles frutales, plantas medicinales y semillas certificadas.</p>
            </div>
        </article>
        
        <article class="card card-1">
            <h1>🐮</h1>
            <div class="card-content">
                <h2>Ganado</h2>
                <p>Bovino, porcino, ovino y aves de corral.</p>
            </div>
        </article>

        <article class="card card-2">
            <h1>🍇</h1>
            <div class="card-content">
                <h2>Cultivos frescos</h2>
                <p>Frutas, verduras, cereales y legumbres de calidad.</p>
            </div>
        </article>

        <article class="card card-3">
            <h1>🐝</h1>
            <div class="card-content">
                <h2>Productos agrícolas</h2>
                <p>Miel, cera, propóleo y otros derivados.</p>
            </div>
        </article>
        
        <article class="card card-4">
            <h1>🐾</h1>
            <div class="card-content">
                <h2>Forrajes y alimento animal</h2>
                <p>Pasto, heno, silo y concentrados.</p>
            </div>
        </article>
    </section>

    <section class="profile-cards">
        <!-- The profile cards could be components -->
        <article class="profile-card">
            <img src="img/mujer.png" alt="Productor María Gómez">
            <div class="profile-info">
                <h3><strong>Productor:</strong> María Gómez</h3>
                <p><strong>Ubicación:</strong> Vivero Los Naranjos, Valle del Cauca, Colombia</p>
                <p><strong>Producto:</strong> Árboles Frutales</p>
                <p><strong>Descripción:</strong> Plantas sanas y de excelente calidad, listas para ser trasplantadas y producir frutos.</p>
                <div class="profile-rating">⭐⭐⭐⭐⭐</div>
            </div>
            <span class="profile-fav">❤️</span>
        </article>

        <article class="profile-card profile-card-1">
            <div class="profile-info">
                <h3><strong>Productor:</strong> Juan Pérez</h3>
                <p><strong>Ubicación:</strong> Vivero El Paraíso, Antioquia, Colombia</p>
                <p><strong>Producto:</strong> Cultivo de Zanahorias</p>
                <p><strong>Descripción:</strong> Raíces firmes y de gran tamaño, cultivadas en suelos fértiles para garantizar un sabor dulce y textura crujiente.</p>
                <div class="profile-rating">⭐⭐⭐⭐☆</div>
            </div>
            <span class="profile-fav">❤️</span>
            <img src="img/hombre.png" alt="Productor Juan Pérez">
        </article>
    </section>

</main>

<footer>
    <p>&copy; 2023 Culti. Todos los derechos reservados.</p>
</footer>   