<section class="wrapper">
    <img src="assets/img/trigo.jpg" alt="logo" class="login-image" />
  
    <main class="login-container">
      <article class="form-box">
            <h2>Recuperar contraseña</h2>
            <p>Introduce tu email asociado a tu cuenta para poder seguir con la recuperacion de la cuenta</p>

            <input type="email" id="email" placeholder="Ingresa tu correo" [formControl]="siguiente"/> 

            <nav class="nav-section">
              <a routerLink="/login">Atrás</a>
              <button routerLink="/fgtcode" class="login-btn" [disabled]="!siguiente.valid">Siguiente</button>
            </nav>
      </article>
    </main>
  </section>
  